html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.randomizerButton{
  padding: 20px;
  backgroud-color: #327da8;
}

.row {
  display: flex;
}

.column {
  margin: 10px;
  flex: 50%;
}
