html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  
  #randButton {
    max-width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

  .text-center {
    text-align: center;
  }